* {
    margin: 0;
    padding: 0;
    font-family: Barlow;
}

body {
    background-color: rgb(255, 255, 255);
}

.container {
    border-radius: 15px;
    background-color: white;
    text-align: center;
    width: 350px;
    height: 610px;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: 0px 3px 15px 3px rgba(0,0,0,0.56);
}

#title {
    padding: 20px;
}

#input {
    padding: 4px;
    font-size: 15px;
    font-family: 'Barlow';
    border: 1px solid black;
    border-radius: 5px;
}

#icon {
    padding-top: 20px;
}

.information-container {
    background-color: whitesmoke;
    width: 100%;
}

#city-picker {
    padding: 20px 0px 20px 0px;
}

#submit {
    margin-bottom: 5px;
    margin-top: 15px;
    padding: 5px;
}

#temperature-container {
    padding: 15px;
}

#description-container {
    padding: 10px;
}

#description {
    text-transform: capitalize;
}

#user-input {
    padding: 20px;
}

#forecast {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-top: 20px;
    font-family: 'Barlow';
}

.forecast-icon {
    width: 60px;
    height: 60px;
    padding: 10px;
}